.login-form-container {
  display: flex;
  width: 200px;
  overflow-x: hidden;
}

.login-img-block {
  width: 25vw;
  height: 50vh;
}
.avatar-block {
  text-align: center;
  margin-left: 10px;
}

.login-card {
  padding-top: 20px;
  text-align: end;
}

.form-avatar {
  margin-bottom: 20px;
}
